* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

input {
  border-radius: 5px;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  transition: border 0.3s;
}

input:focus {
  border: 1px solid #0a4286 !important;
  outline: 0;
}

#title {
  font-size: 30px;
  color: #022959;
  font-weight: 700;
}

#subtitle {
  font-size: 14px;
  color: rgb(133, 133, 133);
}

#upper-content {
  display: flex;
  flex-direction: column;
  height: 13%;
  justify-content: space-between;
}

#inputs {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#submit-btn {
  background-color: #0a4286;
  color: white;
  font-weight: 500;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  transition: background-color 0.3s, filter 0.3s;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #0f5ebe;
}

#submit-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#side-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#side-txt {
  position: absolute;
  padding: 40px 30px;
}

#back-btn {
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: rgb(133, 133, 133);
  transition: color 0.3s;
}

#back-btn:hover {
  color: #022959;
  cursor: pointer;
}

#plan-container {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.step-txt {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: #bfe1fc;
}

.step-txt > .p1 {
  font-weight: 400;
  font-size: small;
}

.step-txt > .p2 {
  font-weight: 700;
}

.step-container {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.number-circle {
  border-radius: 100%;
  border: 1px solid #bfe1fc;
  color: #bfe1fc;
  font-weight: 500;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26%;
}

.label {
  color: #022959;
  font-size: 14px;
  font-weight: 500;
}

.container {
  background-color: rgb(222, 225, 239);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  width: 53.5vw;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  padding: 2.5vh 2.5vh;
  filter: drop-shadow(0 0 10px rgb(199, 199, 199));
}

.side {
  width: 30%;
  height: auto;
  position: relative;
}

.content {
  width: 70%;
  height: auto;
  padding: 10px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.label-error {
  color: red;
  font-size: 14px;
  font-weight: 700;
}

.input-labels {
  display: flex;
  justify-content: space-between;
}

#switch-container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#switch-container p {
  font-size: 13px;
  font-weight: 700;
  color: rgb(133, 133, 133);
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #022959;
  transition: 0.3s;
  border-radius: 34px;
}

#slider::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + #slider:before {
  transform: translateX(17px);
}

.plan-btn-label input{
  opacity: 0;
  width: 0;
  height: 0;
}

.plan-btn {
  position: relative;
  display: inline-block;
  top: 0;
  height: 140px;
  width: 30%;
  margin-right: 10px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 7px;
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s;
}

.plan-btn:hover {
  border: 1px solid #022959;
}

.plan-btn-label input:checked + .plan-btn {
  background-color: #f9f8fe;
  border: 1px solid #022959;
}

.plan-btn img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.plan-btn span {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.plan-btn span p:first-child {
  font-size: 15px;
  color: #022959;
  font-weight: 700;
}

.plan-btn span p:last-child {
  font-size: 13px;
  color: rgb(133, 133, 133);
}